Tareas/cdtareastw/cdtareastw/35/DTD9.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE animales [
   <!ELEMENT animales (animal)*>
   <!ELEMENT animal (nombre)>
   <!ELEMENT nombre (#PCDATA)>
   <!ATTLIST animal
      imagen CDATA #IMPLIED
      tipo_de_imagen NOTATION (jpg | gif | png) #IMPLIED>

   <!NOTATION gif SYSTEM "image/gif">
   <!NOTATION jpg SYSTEM "image/jpeg">
   <!NOTATION png SYSTEM "image/png"> 
]>
